

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- header  with navbar links-->
    <div class="header">
      <div class="logo">P-STORE</div>
      <nav class="navbar">
        <a href="/">Home</a>
        <a href="services">Our Services</a>
        <a href="contact">Contact us</a>
      </nav>
    </div>

    <!-- content -->
    <div class="home-content">
      <div class="content-text">
        <h1>Contact us</h1>
        <p>Reach out to us for any inquiries or feedback.
            Phone: +2347045645673,+2348098765432,Email:p-store@gmail.com
        </p>
        <button class="cta-button">Read More</button>
      </div>
      <div class="content-image">
        <img
          src="images/1.jpg"
          alt="Placeholder Image"
          width="450"
          height="450"
        />
      </div>
    </div>

    <!-- footer -->
    <div class="footer">
      <div class="footer-content">
        <p>&copy; Copyright @ p-store 2023. All rights reserved.</p>
        <div class="social-links">
          <a href="#" target="_blank">Facebook</a>
          <a href="#" target="_blank">Twitter</a>
          <a href="#" target="_blank">Instagram</a>
        </div>
      </div>
    </div>
  </body>
</html>
  </body>
</html>
